html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 120vh;
  padding-top: 15%;
  transform-style: inherit;
  width: 100vw;
  z-index: 0;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;
  background-image: url(image/mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
}

a {
  color: #fff;
  text-decoration: none;
}

.panel {
  width: 700px;
  height: 50px;
  margin: 0 auto;
}

.panel__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.panel__item {
  padding: 10px 15px;
  flex-basis: 20%;
  color: #fff;
}

.panel__item .img {
  width: 30%;
  opacity: 0.5;
}

.img:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform 1.05s ease-in-out;
  -ms-transition: transform 1.05s ease-in-out;
  transition: transform 1.05s ease-in-out;
}

#canvas {
  background-color: black;
  background-size: 100px 100px;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  opacity: 0.6;
}

